<% content_for :title do %>Innovation Lab dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Innovation Lab Dashboard" data-text="Innovation Lab Status." data-moreinfo="Started at the garden now we're here."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style="background-color: #47BB59">
      <div data-id="soilMoisture" data-view="Text" data-title="Plants" data-moreinfo="Soil moisture status" style="background-color: #47BB59"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style="background-color: #47BB59">
      <div data-id="reservoirStatus" data-view="Text" data-title="Reservoir" data-moreinfo="Reservoir status"  style="background-color: #47BB59"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style="background-color: #4764BB">
      <div data-id="tempC" data-view="Number" data-title="Temperature" data-moreinfo="Sensor" data-suffix="C" style="background-color: #4764BB"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style="background-color: #4764BB">
      <div data-id="humidity" data-view="Number" data-title="Humidity" data-moreinfo="Sensor" data-suffix="%" style="background-color: #4764BB"></div>
    </li>
  </ul>

</div>
